.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#222;
    color: #f2f2f2;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.nav-link{
    font-family: 'Solway', serif;

}


input[type=search] {
	background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
}
input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}