{% extends 'blog/base.html' %}
{% load static %}
{% block body %}

<section class="block-wrapper">
    <br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<div class="news-style-one">
    <h3 class="news-title">
        <font size="6"><span>Categories</span></font>
    </h3>				    
  {% for x,y in article1 %}  
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="block category-listing">
                   <a href="{% url 'blog:detail' category_id=x.catlist_category.category_id %}">
                        <h3 class="news-title"><span>{{x.catlist_category}}</span></h3>
                    </a>
            </div>                
<div class="row">
    
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'blog:article' article_id=x.catlist_url %}">
                    <img class="img-fluid" src="{{x.catlist_logo}}" style="width:500px; height:250px;" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">               
                <h2 class="post-title mt-3">
                    <a href="{% url 'blog:article' article_id=x.catlist_url %}">{{x.catlist_title}}</a>
                </h2>
               <!--<div class="post-meta">
                    <span class="posted-time">{{x.date}}</span>
                    <span class="post-author">by
                        <a href="author.html">{{x.author}}</a>
                    </span>
                </div>-->
                <p>{{x.catlist_summary}}
                </p>
            </div>
        </div>
    </div> 
    <div class="col-md-6 col-sm-6">
        <div class="post-block-wrapper post-grid-view clearfix">
            <div class="post-thumbnail">
                <a href="{% url 'blog:article' article_id=y.catlist_url %}">
                    <img class="img-fluid" src="{{y.catlist_logo}}" style="width:500px; height:250px;" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <h2 class="post-title mt-3">
                    <a href="{% url 'blog:article' article_id=y.catlist_url %}">{{y.catlist_title}}</a>
                </h2>
              <!--  <div class="post-meta">
                    <span class="posted-time">{{y.date}}</span>
                    <span class="post-author">by
                        <a href="author.html">{{y.author}}</a>
                    </span>
                </div>-->
                <p>{{y.catlist_summary}}
                </p>
            </div>
        </div>
    </div>

</div> 
        </div>
    </div>
</section>
{% endfor %}		
</div></div>

<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
	<div class="sidebar">
		<div class="widget">
    <h3 class="news-title">
        <span>Stay in touch</span>
    </h3>
    <ul class="list-inline social-widget">
        <li class="list-inline-item">
             <a href="fb.com"><img src="{% static 'blog/images/download.png' %}" alt="" height="42" width="42"></a> 
        </li>
        <li class="list-inline-item">
            <a href="youtube.com"><img src="{% static 'blog/images/download1.png' %}" alt="" height="42" width="45"></a>
        </li>
        <li class="list-inline-item">
            <a href="instagram.com"><img src="{% static 'blog/images/download2.png' %}" alt="" height="42" width="42"></a>
        </li>
        <li class="list-inline-item">
            <a href="twitter.com"><img src="{% static 'blog/images/download3.png' %}" alt="" height="42" width="42"></a>
        </li>
         <li class="list-inline-item">
            <a href="playstore.com"><img src="{% static 'blog/images/download4.png' %}" alt="" height="42" width="42"></a>
        </li>
        <li class="list-inline-item">
            <a href="pintrest.com"><img src="{% static 'blog/images/download5.png' %}" alt="" height="42" width="42"></a>
        </li>
    </ul>
</div>

	<div class="widget">
    <h3 class="news-title">
        <span>Hot News</span>
    </h3>

    <div class="post-overlay-wrapper">
        <div class="post-thumbnail">
            <img class="img-fluid" src="{{hotnews.0.hotnews_logo}}" style="" alt="post-thumbnail"/>
        </div>
        <div class="post-content">
            <a class="post-category white" href="{% url 'blog:detail' category_id=hotnews.0.hotnews_category.category_id %}">{{ hotnews.0.hotnews_category }}</a>
            <h2 class="post-title">
                <a href="{% url 'blog:article' article_id=hotnews.0.hotnews_url %}">{{ hotnews.0.hotnews_title }}</a>
            </h2>
            <div class="post-meta white">
                <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>{{ hotnews.0.hotnews_date }}</span>
               <!-- <span> by </span>
                <span class="post-author">
                    <a href="author.html">Jammy Anderson</a> 
                </span> -->
            </div>
        </div>
    </div>
    <div class="post-list-block">
        {% for news in all_hotnews  %}
        <div class="post-block-wrapper post-float ">
            <div class="post-thumbnail">
                <a href="{% url 'blog:article' article_id=news.hotnews_url %}">
                    <img class="img-fluid" src="{{news.hotnews_logo}}" style="" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
                <h2 class="post-title title-sm">
                    <a href="{% url 'blog:article' article_id=news.hotnews_url %}">{{news.hotnews_title}}</a>
                </h2>
                <div class="post-meta">
                    <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>{{news.hotnews_date}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="widget mb-0">
    <h3 class="news-title">
        <span>Technology Blog</span>
    </h3>
            
        {% for tech in all_tech  %}
        <div class="post-overlay-wrapper clearfix mt-3">
            <div class="post-thumbnail">
                <a href="{% url 'blog:article' article_id=tech.tech_url %}">
                    <img class="img-fluid" src="{{tech.tech_logo}}" style="" alt="post-thumbnail"/>
                </a>
            </div>
            <div class="post-content">
            <!--    <a class="post-category white" href="post-category-2.html">{{tech.tech_category}}</a> -->
                <h2 class="post-title">
                    <a href="{% url 'blog:article' article_id=tech.tech_url %}">{{tech.tech_title}}</a>
                </h2>
                <div class="post-meta white">
                    <span class="posted-time">{{tech.tech_date}}</span>
                   <!-- <span> by </span>
                    <span class="post-author">
                        <a href="author.html">{{tech.tech_author}}</a>
                    </span> -->
                </div>
            </div>
        </div>
        {% endfor %}
           
</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}